<!--<div class="page-wrapper">
  
    <div class="container-fluid">
     
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Student Profile</h4>
            </div>
            <div class="col-md-7 align-self-center text-end">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb justify-content-end">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Student Profile</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15 text-white"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" (click)="change()">Product Overview</h5>
                        <div class="table-responsive m-t-30">
                            <table class="table product-overview">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Order ID</th>
                                        <th>Name</th>
                                        <th>Qut</th>
                                        <th>U</th>
                                        <th>P.U</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of pageOfItems; index as i;">

                                    <tr>
                                        <td>{{(item.LibelleArticle)}}</td>
                                        <td>{{(item.NumerodeLot)}}</td>
                                        <td>
                                            <img [src]="item.PathImageArticle" alt="iMac" width="80">
                                        </td>
                                        <td>{{item.Quantite-item.QuantiteServi}}</td>
                                        <td>{{item.LibelleCaisse}}</td>
                                        <td>{{(item.DateExpiration| date:'dd/MM/YYYY')}}</td>

                                        <td>
                                            <span class="label label-success">Paid</span>
                                        </td>
                                        <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-bs-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse" title=""
                                                data-bs-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                    </tr>

                                </tbody>
                            </table>
                            <jw-pagination [items]="items" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Stock General</h4>
            </div>
            <div class="col-md-7 align-self-center text-end">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb justify-content-end">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Stock General</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15 text-white"><i class="fa fa-plus-circle"></i> Create New</button>
                </div>
            </div>
        </div> -->
        <div class="row page-titles bg-primary">
            <h4 class="m-b-0 text-white">{{g.title}}</h4>
        </div>

        <div class="row">
            <!-- Column -->

            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row" *ngFor="let item of Rapportfilter; index as i;">
                            <h4 class="card-title m-t-20 p-b-10 border-bottom ">{{item.Libelle}}
                            </h4>
                            <div class="col-md-3 col-xs-6 border-end"> <strong>Totale Article </strong>
                                <br>
                                <p class="text-muted">{{item.Quantite}}</p>
                            </div>

                            <div class="col-md-3 col-xs-6"> <strong>Quantite BienTot Expire</strong>
                                <br>
                                <p class="text-muted">{{item.expirer| date:'dd/MM/YYYY'}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Option</strong>
                                <br>
                                <p class="text-muted">
                                    <button type="button" class="btn btn-info waves-effect text-white" data-bs-dismiss="modal" (click)="setid(item.IdStock)">Option</button>
                                </p>
                            </div>
                        </div>
                        <hr>

                        <!-- Education -->
                        <h4 class="card-title m-t-20 p-b-10 border-bottom">Inventaire</h4>

                        <div class="container-fluid" *ngIf="idstock==null">
                            <div class="row">
                                <!-- .left-aside-column-->
                                <div class="col-lg-12">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
                                            <thead>
                                                <tr>
                                                    <td>Referance</td>
                                                    <th>Libelle</th>
                                                    <th>Categorie</th>
                                                    <th>Qut</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of inventaire; index as i;">
                                                    <td>{{(item.Referance)}}</td>
                                                    <td>{{(item.Libelle)}}</td>
                                                    <td>{{item.LibelleCategorie}}</td>
                                                    <td>{{item.QuantiteDisponible}}</td>



                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Certification -->
                        <h4 class="card-title m-t-20 p-b-10 border-bottom" *ngIf="idstock==null">Repture</h4>

                        <div class="container-fluid" *ngIf="idstock==null">
                            <div class="row">
                                <!-- .left-aside-column-->
                                <div class="col-lg-12">
                                    <div class="table-responsive m-t-40">
                                        <table datatable [dtOptions]="dtOptions" class="display nowrap table table-hover table-striped border" id="datatableexample2">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Referance</th>
                                                    <th>Libelle</th>
                                                    <th>Categorie</th>
                                                    <th>Qut</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of repture; index as i;">
                                                    <td>{{i+1}}</td>
                                                    <td>{{(item.Referance)}}</td>
                                                    <td>{{(item.Libelle)}}</td>
                                                    <td>{{item.LibelleCategorie}}</td>
                                                    <td>{{item.QuantiteDisponible}}</td>



                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- Subjects -->
                        <div class="container-fluid" *ngIf="idstock!=null">
                            <div class="row">
                                <!-- .left-aside-column-->
                                <div class="row" *ngFor="let item of inventaire; index as i;">

                                    <div class="col-md-1 col-xs-6 border-end align-self-center"> <strong>{{item.Referance}} </strong>

                                    </div>

                                    <div class="col-md-2 col-xs-6 border-end align-self-center"> <strong>{{item.Libelle}}</strong>

                                    </div>
                                    <div class="col-md-2 col-xs-6 border-end align-self-center"> <strong>{{item.LibelleCategorie}} </strong>

                                    </div>

                                    <div class="col-md-1 col-xs-6 border-end align-self-center">
                                        <span class="align-self-center">{{item.QuantiteDisponible}}</span>

                                    </div>
                                    <div class="col-md-6 col-xs-6"> <strong>Detail</strong>
                                        <div class="col-lg-12">

                                            <div class="table-responsive">
                                                <table class=" table table-striped table-bordered table-sm row-border hover " id="datatabledc ">
                                                    <thead>
                                                        <tr>

                                                            <th>N.Lot</th>
                                                            <th>Quantite dispo</th>
                                                            <th>date Expiration</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let item1 of item.detailCommandes; index as i; ">

                                                            <td>{{(item1.NumerodeLot)}}</td>
                                                            <td>{{item1.Quantite-item1.QuantiteServi}}</td>
                                                            <td>{{(item1.DateExpiration| date:'dd/MM/YYYY')}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>