<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles bg-primary">
            <h4 class="m-b-0 text-white">{{g.title}}</h4>
        </div>
        <!-- ============================================================== -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <div class="row">

        </div>

        <div class="row  pt-3" *ngIf="showlocale">
            <div class="col-md-6 col-lg-3 col-xlg-2" *ngFor="let item of localites; index as i;">

                <div class="card">
                    <a href="javascript:void(0)" (click)="selectLocalite(item.Identifiant)">

                        <div class="xxx" class={{totalColor}}>
                            <h4 class="font-light text-white">{{ item.Libelle }}</h4>
                            <h6 class="text-white">&nbsp;</h6>
                        </div>
                    </a>

                </div>

            </div>
        </div>

        <div class="row  pt-3" *ngIf="showserveur">
            <div class="col-md-6 col-lg-3 col-xlg-2" *ngFor="let item of serveurs; index as i;">

                <div class="card">
                    <a href="javascript:void(0)" (click)="selectServeur(item.Identifiant)">

                        <div class="xxx" class={{totalColor}}>
                            <h4 class="font-light text-white">{{ item.Nom }}</h4>
                            <h6 class="text-white">&nbsp;</h6>
                        </div>
                    </a>

                </div>

            </div>
        </div>
        <div class="row" *ngIf="showcaisse">
            <div class="col-12">
                <div class="card">
                    <!-- .left-right-aside-column-->
                    <div class="row">
                        <!-- .left-aside-column-->
                        <div class="col-12 col-lg-8 col-sm-12">
                            <div class="card-body">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="card">

                                        <div class="card-body bg-light">
                                            <div class="card-body bg-light">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>Totale TTC(DH)</h3>
                                                    </div>
                                                    <div class="col-6 align-self-center display-6 text-end">
                                                        <h2 class="text-success">{{(TotaleHT+TotaleTVA)}}</h2>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>Totale TVA(DH)</h3>
                                                    </div>

                                                    <div class="col-6 align-self-center display-3 text-end">
                                                        <h2 class="text-info">{{(TotaleTVA)}}</h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>Totale HT(DH)</h3>
                                                    </div>

                                                    <div class="col-6 align-self-center display-3 text-end">
                                                        <h2 class="text-danger">{{(TotaleHT)}}</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover no-wrap">
                                                <thead>


                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>N.Lot</th>
                                                        <th>Libelle</th>
                                                        <th>Quantite</th>
                                                        <th>Unite</th>
                                                        <th>P.U HT</th>
                                                        <th>TVA</th>
                                                        <th>Totale HT</th>
                                                        <th>Totale TTC</th>
                                                        <th>Description</th>
                                                        <th>Option</th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of commande.DetailCommandes; index as i;">
                                                        <td class="text-center">{{i+1}}</td>
                                                        <td class="txt-oflo">{{ item.NumerodeLot }}</td>
                                                        <td class="txt-oflo">{{ item.LibelleArticle }}</td>

                                                        <td><span class="badge bg-success rounded-pill">{{ item.Quantite
                                                                }}</span> </td>
                                                        <td class="txt-oflo">{{ item.LibelleTypeUnite }}</td>
                                                        <td class="txt-oflo">{{ item.Montant }}</td>
                                                        <td class="txt-oflo">{{ item.TauxTVA }}</td>
                                                        <td class="txt-oflo">{{ (item.Montant* item.Quantite)}}</td>
                                                        <td class="txt-oflo">{{ (item.Montant* item.Quantite)+((item.Montant* item.Quantite)*(item.TauxTVA/100)) }}</td>
                                                        <td><span class="text-success">{{ item.Description }}</span>
                                                        </td>
                                                        <td><button (click)="remove(i)" type="button" class="btn btn-outline-danger btn-circle  "><i class="ti-trash"></i>
    </button></td>

                                                    </tr>
                                                    <!--      -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 " *ngIf="type!='CONTROLE'">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex no-block align-items-center">
                                            <div>
                                            </div>

                                            <div class="ms-auto">
                                                <button (click)="valider()" type="button" class=" btn btn-outline-success btn-circle  ">
                                                     <i class="ti-check"></i> </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-4 col-sm-12 formcaisse">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-subtitle">Information Client</h5>
                                    <form class="form pt-3">
                                        <div class="row ">
                                            <div class="form-group">
                                                <label class="form-label">Client</label>
                                                <div class="input-group mb-3" (click)="showListeLocalite()">
                                                    <input type="text" class="form-control" placeholder="Client" aria-label="Client" [(ngModel)]="commande.LibelleLocalite" name="client" readonly>
                                                    <span class="input-group-text" (click)="showListeLocalite()"><i class="ti-lock"></i></span>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                            <hr class="m-t-0 m-b-40">
                            <div class="card">
                                <div class="card-body">

                                    <h5 class="card-subtitle"> Detaile Commande</h5>

                                    <form class="form pt-3">
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Stock</label>
                                                    <div class="input-group mb-3" (click)="showstock()">
                                                        <input type="text" class="form-control" placeholder="Stock" aria-label="Password" [(ngModel)]="caisse.Libelle" name="stock" readonly>
                                                        <span class="input-group-text" (click)="showstock()"><i class="ti-lock "></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row ">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Articles</label>
                                                    <div class="input-group mb-3" (click)="showarticle()">
                                                        <input type="text" class="form-control" placeholder="Articles" aria-label="Password" [(ngModel)]="article.Libelle" name="article" readonly>
                                                        <span class="input-group-text"><i class="ti-lock"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Numero Lot</label>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Numero Lot" aria-label="Username" [(ngModel)]="numlot" name="numlot">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group ">
                                                    <label class="form-label">Unite</label>
                                                    <select class="form-control form-select" [ngModel]='Unite' name="Unite ">
                                    
                                                                <option value="0" disabled selected>select unite...</option>
                                                                <option *ngFor="let option of typeunite" [ngValue]="option.Identifiant" >
                                                                    {{option.Libelle}}</option>
                                    
                                                            </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Prix Unitaire</label>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Numero Lot" aria-label="Username" [(ngModel)]="prix" name="pu">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">TVA</label>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Numero Lot" aria-label="Username" [(ngModel)]="tva" name="tva">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Quantite</label>
                                                    <div class="input-group mb-3">
                                                        <input type="number" class="form-control" placeholder="Quantite" aria-label="Password" [(ngModel)]="quantite" name="quantite">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Date Expiration</label>
                                                    <div class="input-group mb-3">
                                                        <input type="date" class="form-control" placeholder="Numero Lot" aria-label="Username" [(ngModel)]="dateexpiration" name="dexpiration">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Description(courte)</label>
                                            <div class="input-group mb-3">
                                                <textarea class="form-control" rows="4" id="input7" [(ngModel)]="description" name="description"></textarea>

                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success me-2 text-white" (click)="selectArticle()">Submit</button>
                                        <button type="submit" class="btn btn-dark" (click)="initdetailcommande()">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>



                        <!-- /.left-right-aside-column-->
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->

        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- stock-model -->

    <div class="modal" id="stock-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableste">
                                            <thead>
                                                <tr>
                                                    <th>Libelle</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of caisses; index as i; " (click)=" setcaisse(item) ">
                                                    <td>{{(item.Libelle)}}</td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- reglementModal -->
    <div class="modal" id="responsive-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-body">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-body">
                                            <h3 class="box-title">Option</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-end col-md-3">Libelle</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder="Libelle Article" [(ngModel)]="searchTerm" (ngModelChange)="chargerArticlebyname()" name="xx">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-end col-md-3">Categorie</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control form-select" (change)="chargerArticle($event)">
                                                                    <option value="0">select...</option>
                                                                    <option *ngFor="let item of categories; index as i;"
                                                                        [value]="item.Identifiant">{{(item.Libelle)}}
                                                                    </option>
    
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-end col-md-3">C.Bare</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder="Code Bare">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </form>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
                                            <thead>
                                                <tr>
                                                    <th>Libelle</th>
                                                    <th>Categorie</th>


                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of articles; index as i;" (click)="setarticle(item)">
                                                    <td>{{(item.Libelle)}}</td>
                                                    <td>{{item.LibelleCategorie}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>

                        </div>
                        <!-- <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive m-t-40">
                                            <table class="table table-striped table-bordered table-sm row-border hover" id="datatabledc">
                                                <thead>
                                                    <tr>
                                                        <th>N.Lot</th>
                                                        <th>Quantite dispo</th>
    
    
                                                    </tr>
                                                </thead>
                                                <tbody>
    
                                                    <tr *ngFor="let item of detailCommandes; index as i;" (click)="setdc(item)">
                                                        <td>{{(item.NumerodeLot)}}</td>
                                                        <td>{{item.Quantite-item.QuantiteServi}}</td>
    
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
    
    
    
                                    </div>
                                </div>
    
                            </div> -->

                        <!--    <button type="button" class="btn w-70 btn-lg btn-success" (click)="setarticle()">Valider<i class="icons-Dollar-Sign2"></i></button>
     -->
                    </div>










                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- =================================================================================== -->
    <div class="modal" id="societe-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-body">
                                    <form action="#" class="form-horizontal">
                                        <div class="form-body">
                                            <h3 class="box-title">Option</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-end col-md-3">Libelle</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder="Client" [(ngModel)]="searchTerm" (ngModelChange)="chargerlocalbyname()" name="xx">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->

                                            </div>


                                        </div>


                                    </form>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableste">
                                            <thead>
                                                <tr>
                                                    <th>Libelle</th>



                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of localites; index as i;" (click)="selectLocalite(item.Identifiant)">
                                                    <td>{{(item.Libelle)}}</td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>

                        </div>


                        <!--    <button type="button" class="btn w-70 btn-lg btn-success" (click)="setarticle()">Valider<i class="icons-Dollar-Sign2"></i></button>
 -->
                    </div>










                    <br>
                </div>
            </div>
        </div>
    </div>
</div>