<div class="right-page-header">
    <div class="d-flex">


       
        <div class="ms-auto mb-2"><button type="button" class="btn btn-success btn-circle  me-auto"
               >
                <i class="ti-angle-double-right"></i>
            </button>

        </div>

    </div>
</div>
<div class="row">

            <!-- .left-right-aside-column-->
            <div class="col-md-6 col-lg-3 col-xlg-2">
            
                <div class="card">
                    <div class={{totalColor}}>
                        <h4 class="font-light text-white"> DH</h4>
                        <h6 class="text-white">Total</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xlg-2">
            
                <div class="card">
                    <div class={{totalColor}}>
                        <h4 class="font-light text-white"> DH</h4>
                        <h6 class="text-white">A Payer</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-2">
                <div class="card">
                    <div class={{serveurColor}}>
                        <h4 class="font-light text-white">&nbsp;</h4>
                        <h6 class="text-white">Serveur</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-2">
                <div class="card">
                    <div class={{tableColor}}>
                        <h4 class="font-light text-white">&nbsp;</h4>
                        <h6 class="text-white">Table</h6>
                    </div>
                </div>
            </div>

           
        </div>
    
