<!--<div style="background:#2a9d8f;color : #FFFFFF;height : 50px;border : 1px solid green;">

<div *ngIf="g.utilisateur != null" style="width:20%;float:left;background:#264653;padding-left:20px;border:0px solid #FFFFFF;height:50px;line-height: 50px;font-weight : bold;">
	{{ (g.utilisateur != null ? g.utilisateur!.Nom : '' )  }}
</div>

<div *ngIf="g.utilisateur != null" style="width:60%;float:left;background:#264653;border:0px solid #FFFFFF;height:50px">
	.
</div>
 
<div *ngIf="g.utilisateur != null" style="width:10%;float:left;background:#264653;border:0px solid #FFFFFF;height:50px">
	<button class="btn7" *ngIf="utilisateurSvc.isUserConnected() == true" (click)="goHome()">HOME</button>
 </div>
<div *ngIf="g.utilisateur != null" style="width:10%;float:left;background:#264653;border:0px solid #FFFFFF;height:50px">
	<button class="btn7" *ngIf="utilisateurSvc.isUserConnected() == true" (click)="logout()">LOGOUT</button>
 </div>

</div>
-->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">
                <!-- Logo icon --><b>
					<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
					<!-- Dark Logo icon 
					<img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />-->
					<!-- Light Logo icon-->
					<img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> 
				</b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
					<!-- dark Logo text 
					<img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->
					<!-- Light Logo text
					<img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /> -->
				</span>
            </a>
        </div>

        <div class="navbar-collapse">

            <ul class="navbar-nav me-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>


                <li class="nav-item" *ngIf="g.utilisateur != null">
                    <form class="app-search d-none d-md-block d-lg-block">
                        <input type="text" class="form-control" value="{{ (g.utilisateur != null ? g.utilisateur!.Nom : '' ) }}" disabled>
                    </form>
                </li>
            </ul>

            <ul *ngIf="g.utilisateur != null" class="navbar-nav my-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" id="2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-note"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>

                </li>

                <li class="nav-item dropdown mega-dropdown" (click)="fullscreen()"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
							class="ti-layout-width-default"></i></a>

                </li>

                <li class="nav-item right-side-toggle" (click)="logout()"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
            </ul>
        </div>
    </nav>
</header>