<aside *ngIf="g.utilisateur != null" class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User Profile-->

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">


                <li class="user-pro">
                    <a [ngClass]="collapse==10?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(10)">

                        <img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle">
                        <span class="hide-menu">Mark Jeckson</span></a>
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==10?'collapse in':'collapse'">

                        <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-wallet"></i> My Balance</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                        <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                        <li (click)="logout()"><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a></li>

                    </ul>
                </li>



                <!--   <li (click)="goto('caisse')" *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.CAISSIER,GroupeCode.SERVEUR])"> <a  href="javascript:void(0)"><i class="icon-speedometer" ></i>
                        <span class="hide-menu" >Caisse_Home </span></a>

                </li> -->


                <li (click)='showCommandesNonReglees()' *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.CAISSIER,GroupeCode.SERVEUR])">
                    <a href="javascript:void(0)"><i class="ti-layout-grid2" target="_self"></i>
                    <span class="hide-menu">Commandes</span></a>

                </li>
                <li (click)='showCommandesNonControler()' *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.CAISSIER])"> <a href="javascript:void(0)"><i class="ti-layout-grid2"
                            target="_self"></i><span class="hide-menu">Controle</span></a>

                </li>
                <!--                 <li (click)='forme("utilisateur")'> <a ><i class="ti-email"></i><span class="hide-menu">Utilisateur</span></a>  </li>
 -->
                <!-- <li (click)="goto('clotureSeance')" *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.CAISSIER])"> <a href="javascript:void(0)"><i class="icon-speedometer"></i>
            <span class="hide-menu">Fermeture_Seance </span></a>
    </li> -->
                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'"
                        href="javascript:void(0)" aria-expanded="false" (click)="Collapse(5)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Bon de Commande </span></a>
                
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==5?'collapse in':'collapse'">
                        <!--   <li (click)="goto('liste/seances')"><a href="javascript:void(0)">Seances </a></li> -->
                        <li (click)='goto("bondecommande")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='goto("liste/bondecommandes")'><a href="javascript:void(0)">Liste</a></li>
                
                    </ul>
                </li>
                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'"
                        href="javascript:void(0)" aria-expanded="false" (click)="Collapse(5)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Achat </span></a>
                
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==5?'collapse in':'collapse'">
                        <!--   <li (click)="goto('liste/seances')"><a href="javascript:void(0)">Seances </a></li> -->
                        <li (click)='goto("achat")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='goto("liste/Achats")'><a href="javascript:void(0)">Liste</a></li>
                
                    </ul>
                </li>

    <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(5)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Commande </span></a>

                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==5?'collapse in':'collapse'">
                        <!--   <li (click)="goto('liste/seances')"><a href="javascript:void(0)">Seances </a></li> -->
                        <li (click)='goto("vente")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='goto("liste/commande")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>

                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(6)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Devis </span></a>

                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==6?'collapse in':'collapse'">
                        <!--   <li (click)="goto('liste/seances')"><a href="javascript:void(0)">Seances </a></li> -->
                        <li (click)='goto("devis")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='goto("liste/devis")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>
                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(6)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Allimentation Stock </span></a>

                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==6?'collapse in':'collapse'">
                        <!--   <li (click)="goto('liste/seances')"><a href="javascript:void(0)">Seances </a></li> -->
                        <li (click)='goto("caisse")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='goto("liste/allimentation")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>

                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(1)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Rapports </span></a>

                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==1?'collapse in':'collapse'">
                        <!--   <li (click)="goto('liste/seances')"><a href="javascript:void(0)">Seances </a></li> -->
                        <li (click)='goto("rapportcaisse")'><a href="javascript:void(0)">Stock</a></li>
                        <li (click)='goto("rapportarticle")'><a href="javascript:void(0)">Articles</a></li>

                    </ul>
                </li>
                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==1?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(1)">
                        <i class="icon-speedometer"></i>
                        <span class="hide-menu">Utilisateur <!-- <span
                    class="badge rounded-pill bg-cyan ms-auto">4</span> --></span>
                    </a>
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==1?'collapse in':'collapse'">
                        <li (click)='forme("utilisateur")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='liste("utilisateurs")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>

                <!--=======================================================================================================================================-->

                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==2?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(2)">
                        <i class="icon-speedometer"></i><span class="hide-menu">Societes
                            <!-- <span
                                                class="badge rounded-pill bg-cyan ms-auto">4</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==2?'collapse in':'collapse'">
                        <li (click)='forme("localite")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='liste("localites")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>
                <!--=======================================================================================================================================-->

                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==2?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(2)">
                        <i class="icon-speedometer"></i><span class="hide-menu">Categorie
                            <!-- <span
                                                class="badge rounded-pill bg-cyan ms-auto">4</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==2?'collapse in':'collapse'">
                        <li (click)='forme("categorie")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='liste("categories")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>
                <!--=======================================================================================================================================-->
                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==3?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(3)">
                        <i class="icon-speedometer"></i><span class="hide-menu">Article
                                <!-- <span
                                                    class="badge rounded-pill bg-cyan ms-auto">4</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==3?'collapse in':'collapse'">
                        <li (click)='forme("article")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='liste("articles")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>
                <!--=======================================================================================================================================-->

                <li *ngIf="utilisateurSvc.isUtilisateurOnGroupes([GroupeCode.GERANT,GroupeCode.ADMIN])">
                    <a [ngClass]="collapse==4?'has-arrow waves-effect waves-dark active':'has-arrow waves-effect waves-dark'" href="javascript:void(0)" aria-expanded="false" (click)="Collapse(4)">
                        <i class="icon-speedometer"></i><span class="hide-menu">Stock
                        <!-- <span
                                                                class="badge rounded-pill bg-cyan ms-auto">4</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse" [ngClass]="collapse==4?'collapse in':'collapse'">
                        <li (click)='forme("caisse")'><a href="javascript:void(0)">Nouveau </a></li>
                        <li (click)='liste("caisses")'><a href="javascript:void(0)">Liste</a></li>

                    </ul>
                </li>
                <!--=======================================================================================================================================-->

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>